@font-face {
    font-family: "Abril";
    font-weight: bold;
    src: url(AbrilFatface-Regular.ttf);
}

.instalaciones {
    color-scheme: light dark;
    background-color: white;
    color: black;
    font-family: "Open Sans", system-ui, sans-serif;
}

.instalaciones * {
    /* normalmente se pone `body { font-family: ...}` y no `* { font-family: ...}`
      porque fuente es una propiedad heretada, aqui lo vuelva a ser heretado */
    font-family: inherit;
}

.instalaciones main {
    margin-inline: auto;
    position: relative;
    max-width: min(100% - 4rem, 1150px);
}

.instalaciones h1 {
    font-size: max(min(11.5vw, 7.5rem), 5rem);
    font-family: 'Abril', serif;
    letter-spacing: 0;
    text-align: center;
}

.instalaciones footer {
    margin-top: 8rem;
    height: fit-content;
    display: flex;
    font-size: 1rem;
}

@media (max-width: 60em) {
    .instalaciones footer {
        flex-direction: column;
        gap: 2rem;
    }
}

.instalaciones h2 {
    font-size: 2.25rem
}

.instalaciones h3,
.instalaciones .h3 {
    font-size: 1.1725rem;
    font-weight: bold;

}

.instalaciones p {
    max-width: 35em;
    margin-top: 1em;
}

.instalaciones img {
    max-width: 100%;
}

.instalaciones .portadaLogo {
    width: calc(100% - 4rem);
}

.instalaciones .portadaMenu {
    width: 4rem;
}

.galeria {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(512px, min(1024px, calc(50% - 1rem))));
}

.instalaciones .tres-columnas {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 1.33333rem));
    gap: 2rem;
    margin-top: 1.5rem
}

@media (max-width: 60em) {
    .instalaciones .tres-columnas {
        grid-template-columns: 1fr;
        width: fit-content;
        margin-inline: auto;
    }
}

.adaptive-column-span-2 {
    grid-column: span 2 / span 2;
}

@media (max-width: 60em) {
    .adaptive-column-span-2 {
        grid-column: span 1 / span 1;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-inline: auto;
}

.cursive {
    font-style: italic;
}

.center {
    text-align: center;
}

.mt-2rem {
    margin-top: 2rem;
}
