* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  min-width: 377px;
}

header {
  width: 100%;
  height: 4rem;
  background-color: black;
  box-shadow: 0px 0px 40px 1px black;
}

.portadaLogo {
  width: 95%;
  float: left;
  height: 4rem;
  border-bottom: 0.125em solid #f8f9fa;
}

.portadaLogo div {
  float: left;
  width: auto;
  height: 4rem;
  border-right: 0.125em solid #f8f9fa;
}

.portadaLogo div img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.portadaMenu {
  width: 5%;
  float: right;
  height: 4rem;
  border-left: 0.125em solid #f8f9fa;
  border-bottom: 0.125em solid #f8f9fa;
}

/*---------------------------------------COMIENZO Menu--------------------------------------------*/
#menu {
  display: none;
  justify-content: flex-end;
  overflow: hidden;
  width: 21em;
  position: relative;
  right: 15em;
}

#modulos {
  justify-content: flex-end;
  overflow: hidden;
  width: 20em;
  position: relative;
  transition: height 0.3s ease;
}

#menunav {
  position: relative;
  right: -10em;
  transition: 1s;
  z-index: 2;
}

#menumodus {
  position: relative;
  transition: 1s;
  font-size: 0.7em;
  background-color: rgba(255, 0, 0, 0.432);
}

#menu ul li a {
  color: #f8f9fa;
  font-size: 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 3em;
  border: 0.06em solid #f8f9fa;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-variant: small-caps;
  white-space: nowrap;
  display: list-item;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.493);
}

#modus ul li a {
  color: #f8f9fa;
  font-size: 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 3em;
  border: 0.06em solid #f8f9fa;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-variant: small-caps;
  white-space: nowrap;
  display: list-item;
  text-decoration: none;
}

#botonHamburguesa {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  font-size: 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  color: #f8f9fa;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  overflow: hidden;
}

/*----------------------------------------FIN Menu------------------------------------------------*/
/*-------------------------------ULTIMAS NOTICIAS----------------------------------------*/
.noticias {
  height: 45.5rem;
}

.fondo {
  height: 7rem;
  width: 15rem;
  background-color: #AD0000;
  transform: rotate(355deg);
  color: #ffffff;
  padding: 0%;
  border-radius: 10px;
  margin-top: 5rem;
  margin-left: 5rem;
}

.norota {
  transform: rotate(-355deg);
}

.notiTitulo .divtitle {
  font-family: "Abril";
  word-wrap: break-word;
  position: relative;
  font-size: 3em;
  font-weight: 700;
  transform: rotate(355deg);
  padding: 0.5em 0 0 0.35em;
}

/*----------------------------FIN NOTICIAS------------------------------------------------*/
/*--------------------------------------foter-------------------------------------------*/
footer {
  clear: both;
  display: flex;
  color: #f8f9fa;
  background-color: #252525;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px 10px #252525;
  height: 7em;
  font-size: 1.3em;
  line-height: 2em;
  text-align: center;
}

footer section a {
  color: #f8f9fa;
}

.links {
  font-size: 0.8em;
  text-decoration: none;
}

.dire {
  line-height: normal;
  font-size: 0.7em;
  font-style: italic;
}

.f1 img {
  width: 3em;
}

.elementosmain {
  width: 90%;
  height: auto;
  margin: auto;
}

@media (width<=768px) {
  #menu {
    display: none;
    justify-content: flex-end;
    overflow: hidden;
    width: 21em;
    position: relative;
    right: 20em;
  }

  .elementosmain {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
  }

  .noticias {
    height: auto;
  }

  .fondo {
    height: 7rem;
    width: 15rem;
    background-color: #AD0000;
    /* background-attachment: fixed; */
    border: 0.125rem red solid;
    background-color: transparent;
    transform: rotate(355deg);
    color: #000000;
    padding: 0%;
    border-radius: 10px;
    margin-top: 5rem;
    margin-left: 5rem;
  }
}

@media (width<=1024px) {
  #menu {
    display: none;
    justify-content: flex-end;
    overflow: hidden;
    width: 21em;
    position: relative;
    right: 20em;
  }

  .fondo {
    height: 7rem;
    width: 15rem;
    background-color: #AD0000;
    /* background-attachment: fixed; */
    border: 0.125rem red solid;
    background-color: transparent;
    transform: rotate(355deg);
    color: #000000;
    padding: 0%;
    border-radius: 10px;
    margin-top: 5rem;
    margin-left: 5rem;
  }
}

@media (width<=1440px) {
  #menu {
    display: none;
    justify-content: flex-end;
    overflow: hidden;
    width: 21em;
    position: relative;
    right: 20em;
  }

  .fondo {
    height: 7rem;
    width: 15rem;
    background-color: #AD0000;
    /* background-attachment: fixed; */
    border: 0.125rem red solid;
    background-color: transparent;
    transform: rotate(355deg);
    color: #000000;
    padding: 0%;
    border-radius: 10px;
    margin-top: 5rem;
    margin-left: 5rem;
  }
}