* {
  margin: 0%;
  box-sizing: border-box;
  padding: 0em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fa;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;

  overflow: hidden;
}

.portadaLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 0.125em solid #252525;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: left;
}

.portadaLogo .logos div {
  width: auto;
  height: 4rem;
  border-right: 0.125em solid #252525;
}

.portadaLogo .logos div img {
  height: 4rem;
  padding: 10px;
}

.portadaMenu {
  width: 4rem;
  height: 4rem;
  border-left: 0.125em solid #252525;
}

/*---------------------------------------COMIENZO Menu--------------------------------------------*/

#menu {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 21em;
  position: absolute;
  right: 0em;
}

#modulos {
  justify-content: flex-end;
  overflow: hidden;
  width: 20em;
  position: relative;
  transition: height 0.3s ease;
}

#menunav {
  position: relative;
  right: -20em;
  transition: 1s;
  backdrop-filter: blur(10px);
}

#menumodus {
  position: relative;
  transition: 1s;
  font-size: 0.7em;
}

#menu ul li a {
  color: #252525;
  font-size: 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 3em;
  border: 0.06em solid #252525;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-variant: small-caps;
  white-space: nowrap;
  display: list-item;
  text-decoration: none;
}

#modus ul li a {
  color: #252525;
  font-size: 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 3em;
  border: 0.06em solid #252525;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-variant: small-caps;
  white-space: nowrap;
  display: list-item;
  text-decoration: none;
}

#botonHamburguesa {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  font-size: 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  color: #252525;
  border: none;
  cursor: pointer;
}

/* fin navegador */

h1 {
  text-align: center;
  color: #252525;
  letter-spacing: 0.14em;
  margin: 1em 0em;
}

.modu {
  height: 2em;
  line-height: 2em;
  background-color: #252525;
  border-radius: 16px;
  color: #f8f9fa;
  text-align: center;
  margin: 0.25em 0em;
}

.cursillo {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  color: #252525;
  margin-bottom: 3em;
}

hr {
  border-color: #c30000;
  clear: both;
  margin-bottom: 3em;
}

.hr1 {
  margin: 0em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.foton {
  width: 60%;
  height: 15em;
}

figure {
  width: 30%;
  float: left;
  margin-bottom: 3em;
}

article {
  width: 70%;
  margin: auto;
}

ul {
  list-style: none;
  overflow: hidden;
}

.certificados {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.foto {
  width: 70%;
  margin: 0em;
  text-align: center;
}

.fotito {
  width: 70%;
  margin-top: 1em;
  border-radius: 16px;
  transition: 1s;
}

.agrandar {
  transition: 1s;
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
}

.fotito:hover {
  transition: 1s;
  transform: scale(1.1);
  cursor: pointer;
}

main {
  width: 80%;
  margin: auto;
}

.fot {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.fot img {
  width: 100%;
  height: 30vw;
}

.bloque {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.1em;
  font-weight: bolder;
  line-height: 1.5em;
}

.ordenar {
  width: 100%;
  display: flex;
  margin-top: 3em;
  margin-bottom: 2em;
}

footer {
  clear: both;
  display: flex;
  color: #f8f9fa;
  background-color: #252525;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px 10px #252525;
  font-size: 1.3em;
  text-align: center;
}

footer div a {
  color: #f8f9fa;
  text-decoration: none;
}

.links {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
}

.dire {
  line-height: normal;
  font-size: 0.7em;
  font-style: italic;
  margin: 0em;
}

.f1 img {
  width: 3em;
}

@media (max-width: 768px) {
  .ordenar {
    flex-direction: column;
  }

  .bloque {
    width: 100%;
  }

  .certificados {
    width: 100%;
    justify-self: center;
    align-items: center;
  }

  .foto {
    width: 100%;
  }
}