* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;

  overflow: hidden;
}

.portadaLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 0.125em solid #252525;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: left;
}
.portadaLogo .logos div {
  width: auto;
  height: 4rem;
  border-right: 0.125em solid #252525;
}
.portadaLogo .logos div img {
  height: 4rem;
  padding: 10px;
}

.portadaMenu {
  width: 4rem;
  height: 4rem;
  border-left: 0.125em solid #252525;
}

/*---------------------------------------COMIENZO Menu--------------------------------------------*/

#menu {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 21em;
  position: absolute;
  right: 0em;
}

#modulos {
  justify-content: flex-end;
  overflow: hidden;
  width: 20em;
  position: relative;
  transition: height 0.3s ease;
}

#menunav {
  position: relative;
  right: -20em;
  transition: 1s;
  background-color: #f8f9fa;
}

#menumodus {
  position: relative;
  transition: 1s;
  font-size: 0.7em;
}

#menu ul li a {
  color: #252525;
  font-size: 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 3em;
  border: 0.06em solid #252525;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-variant: small-caps;
  white-space: nowrap;
  display: list-item;
  text-decoration: none;
}

#modus ul li a {
  color: #252525;
  font-size: 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 3em;
  border: 0.06em solid #252525;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-variant: small-caps;
  white-space: nowrap;
  display: list-item;
  text-decoration: none;
}

#botonHamburguesa {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  font-size: 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  color: #252525;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  overflow: hidden;
}


/*--------------------------------COMIENZO TARJETAS---------------------------------------*/

.tarjetero {
  width: 100%;
  height: 40rem;
}

h1:first-of-type {
  font-weight: 200;
  color: (rgb(76, 78, 97));
}

h1:last-of-type {
  color: (rgb(76, 78, 97));
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.box p {
  color: (rgb(163, 165, 174));
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px (rgb(163, 165, 174));
  padding: 30px;
  margin: 20px;
  filter: opacity(60%);
  transition: 0.5s;
}

.box img {
  float: right;
}

@media (max-width: 450px) {

  .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}

.verde {
  border-top: 3px solid rgb(69, 211, 211);
}

.rojo {
  border-top: 3px solid rgb(234, 83, 83);
}

.azul {
  border-top: 3px solid rgb(84, 158, 242);
}

.naranja {
  border-top: 3px solid rgb(252, 175, 74);
}

h2 {
  color: (rgb(76, 78, 97));
  font-weight: 600;
}

@media (min-width: 950px) {

  .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-down {
    position: relative;
    top: 150px;
  }

  .box {
    width: 25%;
    height: 12rem;
  }
}

.logos {
  width: 20%;
  height: 65%;
}

.enlaTarje {
  text-decoration: none;
}

.enlaTarje:visited {
  color: black;
}


/* pag joel */
@font-face {
  font-family: Optima;
  src: url(OPTIMA.TTF);
}

@font-face {
  font-family: Optima_Medium;
  src: url(Optima\ Medium.ttf);
}

@font-face {
  font-family: Optima_Bold;
  src: url(OPTIMA_B.TTF);
}

@font-face {
  font-family: Optima_Italic;
  src: url(Optima_Italic.ttf);
}

main {
  clear: both;
  padding-top: 2rem;
}

#articuno,
#articdos {
  background: rgb(103, 183, 209);
  background: linear-gradient(90deg,
      rgba(0, 198, 63, 0.3578606442577031) 58%,
      /* rgba(103, 191, 209, 0.20045518207282953) 100% */
      rgba(0, 198, 63, 0.20045518207282953) 100%);
  color: #000000;
  width: 90%;
  margin: auto;
  font-weight: bold;
  margin-top: 3rem;
  border-radius: 16px;
  padding: 2em;
}

/*
  252525 negro
  c30000 rojo
  f8f9fa blanco
  */
article>div>span {
  font-style: italic;
  font-size: 1rem;
  margin-left: 1rem;
  letter-spacing: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}

article img {
  max-width: 100%;
  max-height: 100%;
}

article>div>h2 {
  letter-spacing: 0.5rem;
  font-size: 2rem;
  color: rgb(224, 26, 75);
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  margin-left: 1rem;
}

.flechica {
  font-size: 1.5rem;
}

figure {
  flex-basis: 50%;
  /* Adjust the width as needed */
  display: inline;
}

.text-container {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul>.elementoslista {
  margin-left: 0;
  /* Remove the left margin */
  margin-bottom: 1rem;
}

.imgside {
  /* max-width: 40%;
  max-height: 40%; */
  margin-right: 10%;
}

.figurecontainer {
  width: 50%;
  display: inline;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 12vh;
}

.tm2{
  width: 60%;
}
.rounded{
  filter:brightness(1.1);
  mix-blend-mode: multiply;
}
.bb{
  margin-top: 1em;
}

.uele {
  list-style: circle;
  margin-left: 2.5rem;
  font-size: 1.5rem;
  width: 75%;
  list-style: inside;
}
.aaa{
  margin-top: 5vh;
  margin-bottom: 8vh;
}

figcaption {
  font-size: 0.8rem;
  font-style: italic;
}

/*
  filter: invert (1)
  */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap");

.titulin {
  /* font-family: 'Calligraffitti', cursive; */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 4rem;

  text-shadow: -15px 5px 20px #ced0d3;

  letter-spacing: 0.02em;
  text-align: center;
  color: #000000;

  clear: both;
  text-align: center;
}

.figuritin {
  margin-left: 1rem;
}

.article-container {
  margin-top: 2rem;
}

#articdos {
  background: linear-gradient(90deg,
      /* rgba(103, 191, 209, 0.20045518207282953) 100% */
      /* rgba(112, 41, 99, 0.3578606442577031) 58%,
      
      /*rgba(112, 41, 99, 0.20045518207282953) 100% */
      rgba(195, 0, 0, 0.3578606442577031),
      rgba(195, 0, 0, 0.20045518207282953));
}


/*--------------------------------------foter-------------------------------------------*/

footer {
  clear: both;
  display: flex;
  color: #f8f9fa;
  background-color: #252525;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px 10px #252525;
  height: 7em;
  font-size: 1.3em;
  line-height: 2em;
  text-align: center;
  margin-top: 10vh;
}

footer section a {
  color: #f8f9fa;
}

.links {
  font-size: 0.8em;
  text-decoration: none;
}

.dire {
  line-height: normal;
  font-size: 0.7em;
  font-style: italic;
}

.f1 img {
  width: 3em;
}

 @media only screen and (max-width: 600px){
  .titulin{
    font-size: 10vw;
  }

  /* ul> .elementoslista{
    font-size: 3vh;
  }  */

  article> div> span{
    letter-spacing: 0em;
    margin-left: 0em;
    font-size: 0.9em;
  }
  .text-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
  }
  .figurecontainer{
    width: 100%;
    margin-bottom: 5vh;
  }
  .tm2{
    width: 100%;
    margin-top: 1em;
  }
  
  article>div>h2 {
    letter-spacing: 0em;
    font-size: 1.5em;
    margin-left: 0em;
  }
  .flechica {
    font-size: 1rem;
}
.uele{
  margin-left: 0em;
  width: 100%;
}
 }
 



